<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <!-- <ion-list-header>Bienvenido!</ion-list-header> -->
          <!--  <ion-note>1.0.0</ion-note> -->

          <ion-avatar class="avatar">
            <!-- <img src="https://cdn.icon-icons.com/icons2/1378/PNG/512/avatardefault_92824.png"> -->
            <img src="https://xsgames.co/randomusers/avatar.php?g=male" />
          </ion-avatar>
          <h3>Pedro Caceres</h3>

          <ion-menu-toggle
            auto-hide="true"
            *ngFor="let p of appPages; let i = index"
          >
            <ion-item
              routerDirection="root"
              [routerLink]="[p.url]"
              lines="none"
              detail="false"
              routerLinkActive="selected"
            >
              <ion-icon
                slot="start"
                [ios]="p.icon + '-outline'"
                [md]="p.icon + '-sharp'"
              ></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-item (click)="logout()">
            <ion-icon
              slot="start"
              [ios]="'log-out-outline'"
              [md]="'log-out-outline'"
            ></ion-icon>
            <ion-label>Logout</ion-label>
          </ion-item>
        </ion-list>

        <ion-list id="labels-list">
          <!--  <ion-list-header>Labels</ion-list-header> -->

          <!--    <ion-item *ngFor="let label of labels" lines="none">
            <ion-icon slot="start" ios="bookmark-outline" md="bookmark-sharp"></ion-icon>
            <ion-label>{{ label }}</ion-label>
          </ion-item> -->
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>

<!-- 
<ion-app>
  <ion-router-outlet></ion-router-outlet>
</ion-app>
 -->
