<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Atrás" defaultHref="/admin"></ion-back-button>
    </ion-buttons>
    <ion-title>Añadir nueva categoría</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
    <form [formGroup]="crearCategoriaForm" (ngSubmit)="crearCategoria()" >
      <ion-list>
        <ion-item lines="full">
          <ion-label position="floating">Nombre</ion-label>
          <ion-input
            type="text"
            value="categoria.cat_nombre"
            formControlName="cat_nombre"
          ></ion-input>
        </ion-item>
        <ion-item lines="full">
          <ion-label position="floating">Descripcion</ion-label>
          <ion-input
            type="email"
            value="categoria.cat_email"
            formControlName="cat_descripcion"
          ></ion-input>
        </ion-item>

        <ion-row>
          <ion-col>
            <ion-button expand="block" type="submit"
              >Crear Categoria</ion-button
            >
          </ion-col>
        </ion-row>
      </ion-list>
    </form>

</ion-content>
