<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Atrás" defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Información Legal</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="ion-margin ion-padding">
    <h2 align="center">Información Legal</h2>

    <p align="justify">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam facilisis
      justo ac congue pulvinar. Quisque ultrices rutrum nisi. Suspendisse
      commodo, purus at interdum tristique, sapien risus tristique metus, nec
      ullamcorper est risus ac ante. Sed ultricies arcu at diam varius, quis
      interdum nulla finibus. Quisque vel efficitur lorem. Nulla ut elit non
      ante cursus sagittis. Vivamus sed sagittis dui.
    </p>

    <p align="justify">
      Quisque vitae mauris nisl. Pellentesque habitant morbi tristique senectus
      et netus et malesuada fames ac turpis egestas. Duis posuere laoreet
      efficitur. Nulla facilisi. Etiam ut mi nisl. Suspendisse mi nunc,
      pellentesque a lorem quis, vulputate tempus ante. Nam id mauris vehicula,
      gravida nisl a, eleifend velit. Morbi ultricies nisl sodales metus iaculis
      facilisis. Cras ut nunc non ante elementum consequat.
    </p>

    <p align="justify">
      Etiam tincidunt tellus ac orci rutrum, et euismod dui maximus. In
      ullamcorper tellus at libero vulputate lobortis. Nullam vitae urna id mi
      condimentum consectetur sed vel velit. Aenean posuere lorem eget nisi
      tristique convallis. Nulla facilisi. Integer mollis felis purus, a
      volutpat lorem volutpat eu. Quisque eget maximus quam, a consequat eros.
      Proin sit amet ipsum nisi. Donec a est sit amet nibh tincidunt vulputate.
      Nullam bibendum sed risus eget dignissim. Nunc dictum orci quis est
      euismod, vel vestibulum metus rhoncus. Vivamus sed posuere velit. In sed
      tortor a neque scelerisque lacinia. Donec nibh lorem, dignissim ut arcu
      eget, facilisis pretium neque.
    </p>

    <p align="justify">
      Duis placerat dolor eget sem luctus porttitor. Nullam felis ipsum,
      convallis sit amet risus vel, tincidunt dignissim felis. Etiam sed
      pharetra leo. Vivamus eget gravida justo, et faucibus nulla. Fusce
      pharetra et nulla vitae aliquam. In ut nulla justo. Etiam tincidunt
      scelerisque sagittis. Pellentesque eu vehicula enim. Duis nec fermentum
      odio, varius vestibulum mauris. Donec blandit ut ante non malesuada.
      Maecenas aliquam eros neque, eu vehicula turpis laoreet in. In vulputate,
      leo ut tincidunt dictum, est leo consequat magna, id scelerisque sem
      tellus a ante. Vivamus eget nunc nisi. Pellentesque placerat pretium
      porta. Praesent nec interdum augue, sit amet ullamcorper turpis. Mauris a
      tellus eget est tempus auctor.
    </p>

    <p align="justify">
      Vivamus sed nunc dui. Curabitur id felis ut neque sagittis pretium. In
      pretium hendrerit interdum. Nam ac est dui. Sed ac justo nec orci faucibus
      egestas. Vestibulum porta eros purus, vitae varius nulla rutrum et. In hac
      habitasse platea dictumst. Orci varius natoque penatibus et magnis dis
      parturient montes, nascetur ridiculus mus.
    </p>
  </div>
</ion-content>
