<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        text="Atrás"
        (click)="onBack()"
        defaultHref="/admin"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>Categorias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-searchbar
    placeholder="Buscar"
    (ionChange)="onChange($event)"
    debounce="100"
  ></ion-searchbar>

  <ion-list *ngFor="let categoria of categorias; let index = i">
    <ion-item-sliding #slidingItem>
      <ion-item
        button
        class="item-label item ios in-list ion-focusable hydrated"
        [routerLink]="['/admin/categorias/editar-categoria/'  + this.categoria.cat_id]"
      >
        <ion-avatar slot="start" style="font-size: x-large">
          <ion-icon
            *ngIf="categoria.image.toString().substr(categoria.image.toString().length - 3) === 'svg' "
            src="{{categoria.image}}"
          ></ion-icon>
          <ion-img
            *ngIf="categoria.image.toString().substr(categoria.image.toString().length - 3) === 'png' "
            src="{{categoria.image}}"
          ></ion-img>
        </ion-avatar>
        <ion-label>
          <h2>{{this.categoria.cat_nombre}}</h2>
          <h3>{{this.categoria.cat_descripcion}}</h3>
        </ion-label>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option (click)="onClick(categoria)" color="danger">
          <ion-icon name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-fab
    [routerLink]="['/admin/categorias/crear-categoria']"
    vertical="bottom"
    horizontal="end"
    slot="fixed"
  >
    <ion-fab-button class="btnCrear">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
