<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button text="Atrás" defaultHref="/"></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button class="notification">
        <ion-icon name="notifications-outline" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <h1>Resumen Pedido</h1>

  <ion-card-content>
    <ion-card-subtitle>Forma de pago</ion-card-subtitle>
    <ion-item>
      <ion-label>Comprobante</ion-label>
      <ion-select [(ngModel)]="binding" (ionChange)="onChange($event)">
        <ion-select-option
          *ngFor="let item of comprobantes"
          [value]="item.com_id"
        >
          {{item.com_nombre}}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Pago en</ion-label>
      <ion-select
        [(ngModel)]="paymentBinding"
        (ionChange)="onChangePago($event)"
      >
        <ion-select-option
          *ngFor="let item of paymentMethod"
          [value]="item.fp_Id"
        >
          {{item.fp_descripcion}}
        </ion-select-option>
      </ion-select>
    </ion-item>
  </ion-card-content>

  <div class="cart-items">
    <ion-card mode="ios" *ngFor="let item of products">
      <ion-card-content>
        <div class="item-img">
          <img src="{{item.image}}" />
        </div>

        <div class="item-info">
          <p>{{item.descripcion}}</p>
          <p>{{item.precioUnit | number:"1.0-0":"es"}}</p>
          <p>{{item.totalParcial | number:"1.0-0":"es"}}</p>

          <div class="qty-selector">
            <ion-button fill="clear">-</ion-button>
            <ion-label>1</ion-label>
            <ion-button fill="clear">+</ion-button>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
  </div>

  <div class="address">
    <ion-item lines="none">
      Ciudad del Este, Paraguay
      <ion-badge slot="end">&nbsp;</ion-badge>
    </ion-item>
  </div>

  <hr />

  <div class="cart-total">
    <ion-item>
      <ion-label>Sub Total</ion-label>
      <ion-label slot="end" class="ion-text-right"
        >Gs. {{totalGeneral | number:"1.0-0":"es"}}</ion-label
      >
    </ion-item>
    <!-- <ion-item lines="none">
      <ion-label>Discount</ion-label>
      <ion-label slot="end" class="ion-text-right">5%</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Shipping</ion-label>
      <ion-label slot="end" class="ion-text-right">$10.00</ion-label>
    </ion-item> -->
    <ion-item lines="none">
      <ion-label>Total</ion-label>
      <ion-label slot="end" class="ion-text-right"
        >Gs. {{totalGeneral | number:"1.0-0":"es"}}</ion-label
      >
    </ion-item>
  </div>
</ion-content>
<ion-footer translucent="true" class="ion-no-border">
  <ion-toolbar color="translucent"> </ion-toolbar>
  <ion-button
    style="margin-bottom: 15px"
    expand="block"
    routerLink="/success"
    routerDirection="forward"
    shape="round"
    (click)="sendOrder()"
    [disabled]="selectComprobante"
  >
    Finalizar Compra
  </ion-button>
</ion-footer>
