<!-- <ion-header>
  <ion-toolbar>
    <ion-title>menu-listado</ion-title>
  </ion-toolbar>
</ion-header> -->


<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Atrás" defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Productos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>



  <ion-list>
    <ion-item routerLink="/detalle-producto" (click)="onClick()">
      <ion-avatar slot="start" style="width: 70px; height: 70px">
        <img src="https://assets.epicurious.com/photos/57c5c6d9cf9e9ad43de2d96e/master/pass/the-ultimate-hamburger.jpg">
      </ion-avatar>

      <ion-label>
        
        <ion-grid>
          <ion-row>
            <ion-col size="12">
              <!-- name -->
              Great Hamburguer
            </ion-col>
          </ion-row>
          <ion-row >
            <ion-col size="12" style="white-space:normal">
             
              <!-- icon -->
              <h3>Esta es una hamburguesa de tamanio medio</h3>
            </ion-col>
      
          </ion-row>
          <ion-row>
            <ion-col size="2">
              <!-- icon -->
              <h3 color="primary">Gs 20.000</h3>
            </ion-col>
            <ion-col size="10">
              <!-- time -->
            </ion-col>
          </ion-row>
        </ion-grid>

      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>

<ion-footer *ngIf="this.bandera == true" >
  
  <ion-toolbar>
    
    <ion-button expand="block" color="primary" (click)="openModal()">
      
        <ion-grid>
          <ion-row>
            <ion-col size="1" class="numberCircle">
              
              <span><ion-icon style="font-size: 20px;" name="cart"></ion-icon><ion-badge>1</ion-badge></span>
            </ion-col>
            <ion-col size="8" >
              <span>Ver mi pedido </span>

            </ion-col>
            <ion-col size="3">
              <ion-badge>Gs. {{20000}}</ion-badge>

            </ion-col>
          </ion-row>
        </ion-grid>
    </ion-button>

  </ion-toolbar>
</ion-footer>
