<!-- <ion-header>
  <ion-toolbar>
    <ion-title>menu-listado</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Atrás" defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Productos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item
      routerLink="/detalle-producto/{{item.pro_id}}"
      (click)="onClick()"
      *ngFor="let item of productos"
    >
      <ion-avatar slot="start" style="width: 70px; height: 70px">
        <img src="{{item.pro_img}}" />
      </ion-avatar>

      <ion-label>
        <ion-grid>
          <ion-row>
            <ion-col size="12">
              <!-- name -->
              {{item.pro_descripcion}}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12" style="white-space: normal">
              <h3>{{item.pro_descripcion}}</h3>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="2">
              <h3 color="primary">Gs {{item.pro_precio | number}}</h3>
            </ion-col>
            <ion-col size="10"> </ion-col>
          </ion-row>
        </ion-grid>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer *ngIf="this.switch == true">
  <ion-toolbar>
    <ion-button expand="block" color="primary" (click)="openModal()">
      <ion-grid>
        <ion-row>
          <ion-col size="1" class="numberCircle">
            <span
              ><ion-icon style="font-size: 20px" name="cart"></ion-icon
              ><ion-badge>1</ion-badge></span
            >
          </ion-col>
          <ion-col size="8">
            <span>Ver mi pedido </span>
          </ion-col>
          <ion-col size="3">
            <ion-badge>Gs. {{20000}}</ion-badge>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-button>
  </ion-toolbar>
</ion-footer>
