<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- <ion-back-button text="Back" icon="add"></ion-back-button> -->
      <ion-back-button text="Atrás" defaultHref="/admin"></ion-back-button>
    </ion-buttons>

    <ion-title>Gestionar Productos</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <ion-searchbar
    placeholder="Buscar"
    (ionChange)="buscarProducto($event)"
    debounce="100"
  ></ion-searchbar>

  <ion-list *ngFor="let producto of productos; let index = i">
    <ion-item-sliding #slidingItem>
      <ion-item
        button
        class="item-label item ios in-list ion-focusable hydrated"
        [routerLink]="['/admin/productos/editar-producto/'  + this.producto.prod_codigo]"
      >
        <ion-avatar slot="start">
          <img src="https://cdn-icons-png.flaticon.com/512/4139/4139981.png" />
        </ion-avatar>
        <ion-label>
          <h2>{{this.producto.prod_nombre}}</h2>
          <h3>{{this.producto.prod_email}}</h3>
        </ion-label>
      </ion-item>

      <ion-item-options side="start">
        <ion-item-option
          (click)="eliminarProducto(producto, index, slidingItem)"
          color="danger"
        >
          <ion-icon name="trash"></ion-icon>
        </ion-item-option>
        
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <!--para agregar nuevos productos-->

  <ion-fab
    [routerLink]="['/admin/productos/crear-producto']"
    vertical="bottom"
    horizontal="end"
    slot="fixed"
  >
    <ion-fab-button class="btnCrear">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

